.col.padding{
    margin: 15px;
}


.col.padding_top_first{
    margin-left: 15px;
    margin-right: 15px;
}

.col.padding_top{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    
}


.padding_top{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
      
}


.btn.btn-white{
    border-color:#b2beb5;
    text-align: left;
}


.carousel-caption {
    width: 100%;
    margin-left: 100px;
    margin-top: 150px;
    z-index: 99 !important;
    color: #fff;


}